body{
    background-image:url(Logo.png);
    background-attachment: fixed;
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
}

a{
    color: #000000;
    font-size: 20px;
}

h1{
    text-align: center;
    color: #ADD8E6 ;
}

a:hover{
    color: #C0C0C0 ;
}

div{
    background-color: rgba(0, 0, 0, 0.344);
    color:#FFD700;
    font-size: x-large;
    margin-top: 5%;
}